/*////////learn & fun/////////// */

.content {
  width: 100%;
}
.content p {
  font-size: 26px;
}
.content h1 {
  margin-top: 50px;
  font-size: 60px;
}

@media only screen and (max-device-width: 600px) {
  .content p, p {
    font-size: 12px;
  }
  .content h1, h1 {
    font-size: 24px;
  }
}

.button-submit {
  padding-top: 0.5em;
  margin-top: 2em;
  /* width: 100%; */
}

.button-submit a {
  -webkit-transition-duration: 0.3s;
  text-decoration: none;
  color: black;
  padding: 15px 25px 15px 25px;
  background-color: #ffcc66;
  border-radius: 8px;
  border: 2px solid #ffcc66;
}

.button-submit a:hover {
  background-color: #fff;
  border: 2px solid #ffcc66;
}

.row-home {
  width: 95%;
  box-sizing: border-box;
  margin: 2.5%;
  text-align: center;
}

.row-home:after {
  display: table;
  clear: both;
}

.col-home {
  float: none;
  width: 29%;
  padding: 10px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.col-home img {
  width: 80%;
}

@media screen and (max-width: 600px) {
  .col-home {
    width: 90%;
    float: left;
    padding: 15px;
    text-align: center;
    font-size: 26%;
    display: inline-block;
    margin-left: auto;
  }
  .col-home img {
    width: 40%;
  }
  .button-submit a {
    padding: 5px 10px 5px 10px;
  }
}

/*////////////about///////////*/

#about img {
  border-radius:50%
}
#about .col-about {
  border: 2px solid #ffcc66;
}

.row-about {
  width: 95%;
  box-sizing: border-box;
  margin: 2.5%;
  text-align: center;
  margin-top: 30px;
}

.row-about:after {
  display: table;
  clear: both;
}

.col-about {
  float: none;
  width: 30%;
  padding: 10px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.col-about img {
  width: 80%;
}

@media screen and (max-width: 600px) {
  .col-about {
    width: 98%;
    float: none;
    padding: 2%;
    text-align: left;
    display: flex;
    margin-left: auto;
    font-size: 30%;
  }
  .col-about .img-ne {
    flex: 1;
  }
  .col-about .p-ne {
    flex: 2;
  }
  .col-about img {
    width: 60%;
  }
  .col-about p {

  }
}

/*////////////timeline///////////*/
#msform {
  text-align: center;
  position: relative;
}

/*progressbar*/
#progressbar {
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
  font-size: 1.5em;

}
#progressbar li {
  list-style-type: none;
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  width: 16.3%;
  float: left;
  position: relative;
  font-size: 0.8em;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 20px;
  display: block;
  font-size: 0px;
  color: #333;
  background: #C0C0C0;
  border-radius: 50%;
  margin: 0 auto 5px auto;
  z-index: 999;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 95%;
  height: 6px;
  background: #C0C0C0;
  position: absolute;
  left: -50%;
  top: 12px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
  background: orange;
  color: white;
}
.row-timeline img {
  width: 10%;
}
.row-timeline {
  width: 100%;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  #progressbar li:after {
    top: 8px;
  }
  .row-timeline {
    margin-top: 20px;
  }
  .row-bar {
    margin-top: 0;
  }
  #progressbar {
    width: 95%;
    font-size: 0.8em;
    display: inline-block;
    margin-left: auto;
  }
  #progressbar li:before {
    width: 20px;
    height: 20px;
  }
  #progressbar li:after {
    height: 4px;
  }
}
.bar-timeline {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .col-timeline {
    width: 90%;
    float: left;
    padding: 10px;
    text-align: left;
    display: flex;
    margin-left: auto;
    font-size: 30%;
  }
}

/*  table rank */
.rank {
  width: 100%;
  text-align: center;
  margin: auto;
}
table {
  width: 100%;
}
.table-rank th, .table-rank td{
  width: 20%;
  border-bottom: 1px solid #fff7e6;
  padding: 6px 0px 6px;
}

.table-rank th {
  background-color: #fff7e6;
}

@media screen and (max-width: 600px) {
  .rank {
    width: 100%;
    text-align: center;
    margin: 0px;
    font-size: 0.5em;
  }

  .table-rank th, .table-rank td{
    width: 1%;
  }
}

/* comment */


.row-com {
  width: 80%;
  display: flex;
  margin: auto;
  text-align: center;
}

.row-com:after {
  display: table;
  clear: both;
}
.col-com img {

}
.img-com, .form-com {
  float: none;
  width: 40%;
  display: table-cell;

  flex: 1;
}
.img-com{
  text-align: center;
}
.form-com {
  text-align: left;
  font-size: 1em;
}

.form-com input {
  padding-left: 5px;
  border: 1px grey solid;
  height:30px;
  width:70%;
  margin-bottom: 5px;
}

.form-com textarea {
  padding-left: 5px;
  border: 1px grey solid;
  height:50px;
  width:70%;
}
.img-com img {
  width: 100px;
}

@media screen and (max-width: 600px) {
  .form-com{
    font-size: 0.7em;
  }
  .form-com textarea, .form-com input {
    width:100%;
  }
  .img-com img {
    width: 60px;
  }
}


/** History */
.history-div {
  width: 98%;
  margin: auto;

}

#klon {
  -webkit-transition-duration: 0.3s;
  text-decoration: none;
  color: black;
  padding: 15px 30px 15px 30px;
  background-color: #ffcc66;
  border-radius: 8px;
  border: 2px solid #ffcc66;
  cursor: pointer;
  font-size: 1.5em;
  outline: none;
}
#readmore a {
  text-align: right;
  text-decoration: none;
  color: black;
}
#readmore a:hover {
  color: #ffcc66;
}
#klon:hover {
  background-color: #fff;
  box-shadow: 0px 5px 0px  #ffcc66;
}
#history-table img {
  width: 50%;
}
#history-table {
  font-size: 1em;
}
#history-table td {
  border-bottom: 1px solid #ffcc66;
  padding: 10px 0px 5px;
}
@media screen and (max-width: 600px) {
  #history-table img {
    width: 50%;
  }
  #history-table {
    font-size: 0.2em;
  }
  #klon {
    padding: 5px 10px 5px 10px;
    font-size: 0.5em;
  }
  #readmore a {
    font-size: 0.5em;
  }
  /* .history-col {
  width: 90%;
  float: left;
  padding: 10px;
  text-align: left;
  display: flex;
  margin-left: auto;
  font-size: 30%;
  }*/
}

/*      LEARN       */
.row-learn-content{
  width: 90%;
  text-align: none;
  margin-left: 5%;
  box-sizing: border-box;
  font-size: 1.3em;
}
.row-learn-content img {
  width: 70%;
  text-align: center;
}
.row-learn-content::after{
  display: table;
  clear: both;
}
.buttonlearn, .mini_button {
  font-family: 'K2D', sans-serif;
  -webkit-transition-duration: 0.3s;
  text-decoration: none;
  padding: 15px 20px 15px 20px;
  background-color: #ffcc66;
  border-radius: 8px;
  border: 2px solid #ffcc66;
  font-size: 1em;
}
.mini_button {
  border-radius: 50%;
  padding: 10px 20px 10px 20px;
}
.buttonlearn a, .mini_button{
  text-decoration: none;
  color: black;
}

.buttonlearn:hover, .mini_button:hover {
  background-color: #fff;
  border: 2px solid #ffcc66;
}

.disable{
  cursor: not-allowed;
}

@media screen and (max-width: 600px) {
  .row-learn-content p{
    font-size: 12px;
  }
  .buttonlearn, .mini_button {
    padding: 5px 10px 5px 10px;
    font-size: 12px;
  }
}
